<?xml version="1.0" encoding="utf-8" ?>
<TestConfigInfo TestName="lxsh" TestID="8893">
	<trackers TrackerName="testName">
		<!--<add Host="192.168.2.220"  Port="22122" Weight="1" />-->
		<add Host="60.195.251.71" Port="22122" Weight="1"/>
		<add Host="60.195.251.72" Port="22123" Weight="1"/>
		<add Host="60.195.251.73" Port="22124" Weight="1"/>
	</trackers>
</TestConfigInfo>